<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/flipYouth" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<array>
			<!-- Woody -->
				<value>model.bean.AdministratorBean</value>
				<value>model.bean.AuthorityBean</value>
				<value>model.bean.BackEndLogBean</value>
			<!-- Woody -->
				<value>model.MemberBean</value>
				<value>model.RelationBean</value>
				<value>model.ShopBean</value>
				<value>model.OrderDetailBean</value>
				<value>model.OrderDetailPK</value>
				<value>model.OrderBean</value>
				<value>model.CommentBean</value>
				<value>model.GoogleMemberBean</value>
				<value>model.FBMemberBean</value>
				<value>model.ChatBean</value>
			</array>
		</property>
	</bean>
	<!-- 在程式即不用寫new simpleDateFormate -->
	<bean id="sdFormat" class="java.text.SimpleDateFormat">
		<constructor-arg name="pattern" value="YYYY-MM-dd" />
	</bean>
	
	<bean id="txMgr"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="txMgr" />

	<context:annotation-config />
	<context:component-scan base-package="model" />
<!-- Woody -->
	<bean id="gson" class="com.google.gson.Gson" />
	<bean id="emailValidator"
    class="org.apache.commons.validator.routines.EmailValidator"
    factory-method="getInstance" lazy-init="false" />
    <bean id="integerValidator"
    class="org.apache.commons.validator.routines.IntegerValidator"
    factory-method="getInstance" lazy-init="false" />
<!-- Woody -->
</beans>
