body {
	min-height: 2000px;
	padding-top: 70px;
	font-family: Arial, "微軟正黑體", "新細明體", sans-serif;
}

td.icon-edit {
	background: url('/FlipYouth/Kelsey/images/basic_orange/edit.png') no-repeat
		center center;
	cursor: pointer;
}

.icon-new {
	background: url('/FlipYouth/Kelsey/images/basic_orange/communication-6.png')
		no-repeat center center;
	cursor: pointer;
	height: 24px;
	width: 24px;

}

.icon-delete {
	background: url('/FlipYouth/Kelsey/images/basic_orange/garbage.png') no-repeat
		center center;
	cursor: pointer;
	height: 24px;
	width: 24px;

}

.icon-save {
	background: url('/FlipYouth/Kelsey/images/basic_orange/save.png') no-repeat
		center left;
	height: 24px;
	width: 24px;

}

.icon-config {
	background: url('/FlipYouth/Kelsey/images/basic_orange/settings.png') no-repeat
		center center;
	height: 24px;
	width: 24px;

}

.inline-fix {
	display:inline-block;
	margin-left: 10px;
}