html, body {
	font-family: Microsoft JhengHei;
	font-weight: 300;
	color: #63D7D4;
	/*   color: #ff8080; */
}

.header {
	width: 100%;
	height: 170px;
	color: #ffffff;
	background: #63D7D4;
/* 	overflow: hidden; */
}

h1{
  color: #2c3e50;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

/*-------導覽列  開始-----------------------------------------------------------------------------------------*/
/*   float:right----將直向列表變成橫向，且向右對齊
list-style:none----不要顯示項目符號 */
.list-group-k ul {
	float: right;
	list-style: none;
}

/*
float:left----每一個列表項目由左開始排列
margin:0px 10px 0px 0px----每一個列表項目彼此的右變間距為10px
*/
.list-group-k ul li {
	float: left;
	margin: 0px 10px 0px 0px;
}

製作分隔線樣式表
 .menudeco {
	width: 1px;
	height: 20px;
	background: #7A3719;
}

/*在#menu中的語法意義:
padding:10px 0 0 0----使導覽選單距頂端10px
background:url(images/css-menubg-image.jpg) no-repeat----底圖不重複出現
text-align:center----使div的內容置中
margin:auto----自動調整div與邊界的距離
margin:auto這個語法如果漏掉就沒有居中效果 */
#nav-group {
	padding: 10px 0 0 0;
	/*   background:url(images/css-menubg-image.jpg) no-repeat; */
	text-align: center;
	margin: auto;
}

/*製作連結樣式*/
#nav-group ul li a {
	color: #63D7D4;
	text-decoration: none;
}

#nav-group ul li a:hover {
	color: #63D7D4;
	text-decoration: none;
}


/*-------導覽列  結束-----------------------------------------------------------------------------------------*/

.container{
  width: 1024px;
  max-width: 100%;
  margin: auto;
  display: block;
  text-align: center;
}

figure{
	clear:right;
}
