/* -----header 開始------------------------------------------------*/
.searchMemberAreaClass {
	/*display: none;*/
	
}

.usr_name {
	font-size: 15px;
	color: gray;
	font-weight: 100;
}

.blockquote_k {
	text-align: right;
	padding: 10px 20px;
	margin: 30px 15px 20px;
	font-size: 17.5px;
	font-weight: 600;
	border-left: 0px solid #eee;
	border-right: 5px solid #eee;
	font-family: "微軟正黑體";
}

.memberContent {
	float: right
}

.memberAvatar {
	float: right
}

@media ( max-width :640px) {
	.memberContent {
		float: none;
	}
	.memberAvatar {
		float: none;
	}
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	height: 100%;
}
/*-------------置中定位-----------*/
/*
  上下置中(上下對中間)
  1.position:absolute
  2.top:50%;
  3.margin-top:  -(內容物高度的一半)
  
  左右置中(左右對中間)
  1.position:absolute
  2.left:50%;
  3.margin-left:  -(內容物寬寬寬寬寬寬度的一半
  */
/*----logo  顏色#CCFF33-----*/
.header_left_img {
	/*       max-width: 250px; */
	/*       width: 19%; */
	/*       hegiht: auto; */
	width: 220px;
	position: absolute;
	left: 100px;
	top: -8px;
	margin: 0 auto;
	transition: 1s;
}

.header_right_img {
	width: 130px;
	hegiht: auto;
	position: absolute;
	right: 100px;
	top: 65px;
	margin-top: -5px;
	border-radius: 10px;
	background-color: white;
	/* border: 5px solid #fff; */
	box-shadow: 4px 4px 2px 0px #eee;
}

.memberContentIndex {
	position: absolute;
	right: 240px;
	top: 80px;
	/* 	color: #eee; */
	color: #D6FF79;
	display:block;
}

.memberContentIndexPage{
	position: absolute;
	right: 240px;
	top: 115px;
	/* 	color: #eee; */
	display:block;
}

.memberContentIndex_usr_name{
	color: #63D7D4;
	font-weight: 500;
	font-size: 15px;
}
/*css的對位都是左上角
  所以50%
  會用左上角定位
  我們想要的50%是用圖片的中間對位
  所以要在減掉圖片的一半*/
/* ----  會員專區標頭  -------------------------*/
.row {
	/* margin-right: -15px; */
	/* margin-left: -15px; */
	margin: 10px -15px 0px -15px;
}

.img-rounded {
	width: 150px;
	hegiht: auto;
	/* 	  position: absolute; */
	/* 	  right:10%; */
	/* 	  top: 50%; */
	margin-top: -5px;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #ddd;
	border-radius: 6px;
	border: 0;
	vertical-align: middle;
}

p {
	margin: 0 0 10px;
	color: #63D7D4;
}

.hero {
	/*     margin-top: 35px; */
	min-height: 150px;
	max-height: 150px;
	width: 100%;
	height: 22%;
	background: #63D7D4;
	box-shadow: 4px 4px 12px -2px rgba(204, 204, 204, 0.97);
	display: table;
	position: relative;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: 600;
	font-size: 36px;
	font-family: Microsoft JhengHei;
	color: #D6FF79;
	/*#ECC8AE 灰粉 #D6FF79亮綠 #84C0C6灰藍  #46B1C9深藍 #DCDCDC灰  logo--#CCFF33*/
}

h1 strong {
	font-weight: 300;
	color: #fff;
}
/* -----header 結束------------------------------------------------*/
.container {
	width: 1024px;
	max-width: 100%;
	margin: auto;
	display: block;
	text-align: center;
}

.searchMemberAreaClass {
	    margin-bottom: 30px;
}

.showAllFriend {
	border: 5px solid #eee; /*#DCDCDC*/
	border-radius: 20px;
	width: 100%;
	height: auto;
	min-height: 200px;
	overflow: hidden;
	padding-bottom: 40px;
}

.boxContainer {
	/*background-color: lightblue;*/
	width: 200px;
	height: 200px;
/* 	margin: 0px 10px; */
	margin: 0px 0px 0px 32px;
	float: left;
}



/* 控制按鈕是否出現 relstion.js  searchMember()*/
.searchMemberButton{
	display:none;
}

.searchMemberButtonshow{
	display:inline;
}

figure {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 5px solid #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px #ddd;
	margin: 1em;
}

figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	width: 100%;
	height: 100%;
	display: table;
}

figcaption div {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	top: 20px;
	opacity: 0;
	font-size: xx-large;
    color: #63D7D4;
/* 	color: #2c3e50; */
/* 	text-transform: uppercase; */
}

figcaption div:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 40%;
	text-align: center;
	margin: auto;
	width: 0%;
	height: 2px;
/* 	background: #2c3e50; 去掉底線*/
}

figure img {
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

figure:hover figcaption {
	background: rgba(255, 255, 255, 0.3);
}

figcaption:hover div {
	opacity: 1;
	top: 0;
}

figcaption:hover div:after {
	width: 50%;
}

figure:hover img {
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}
/*font-face*/
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Hairline'), local('Lato-Hairline'),
		url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff)
		format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'),
		url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff)
		format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff)
		format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'),
		url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff)
		format('woff');
}
/*------font-face  結束--------------------------------------------------*/
/*-------導覽列  開始-----------------------------------------------------------------------------------------*/
/*在還沒縮小螢幕時 要先這這一段之後縮小高度才會回復正常*/
#nav-icon3 {
	display: none;
}
/*在還沒縮小螢幕時 要先這這一段之後縮小高度才會回復正常*/
#navContainer ul {
	height: auto;
	overflow: hidden;
}

/*   float:right----將直向列表變成橫向，且向右對齊
  list-style:none----不要顯示項目符號 */
.list-group-k ul {
	float: right;
	list-style: none;
}
/*
  float:left----每一個列表項目由左開始排列
  margin:0px 10px 0px 0px----每一個列表項目彼此的右變間距為10px
  */
.list-group-k ul li {
	float: left;
	margin: 15px 10px;
}
/*製作分隔線樣式表
   .menudeco {
	  width: 1px;
	  height: 20px;
	  background: #7A3719;
  }*/
/* 在#menu中的語法意義: */
#nav-group {
	display: table;
	font-family: Microsoft JhengHei;
	font-weight: 600;
	padding: 45px 10px 30px 10px;
	/*   background:url(images/css-menubg-image.jpg) no-repeat; */
	text-align: center;
	margin-bottom: 10px;
	/*使div的內容置中*/
	margin: auto;
	/*margin:auto----自動調整div與邊界的距離 這個語法如果漏掉就沒有居中效果 */
}
/*製作連結樣式*/
#nav-group ul li a {
	margin: 5px 5px;
	padding: 10px 5px;
	color: #63D7D4;
	/* border: 1px solid #fff; */
	font-size: 18px;
	text-decoration: none;
	/* -webkit-transition: all 0.5s linear;
	  transition: all 0.5s linear;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);*/
}
/*#ECC8AE 灰粉 #D6FF79亮綠 #84C0C6灰藍  #46B1C9深藍 #DCDCDC灰  logo--#CCFF33  hero--#63D7D4 */
#nav-group ul li a:hover {
	color: #DCDCDC;
/* 	border-bottom: 4.5px solid #63D7D4; */
	/* 	  box-shadow:0px 0px 20px 1px rgba(204,204,204,0.51); */
	/* 	  font-size:1.1em; */
	text-decoration: none;
	/* 	  position: relative; 當滑鼠經過超連結時，超連結往右下位移2像素 */
	/* 	  bottom: 1.5px; */
	/* 	  right: 1.5px; */
	/* 	   transition:color border 1s; 
	  -webkit-transition:color 1s;
	  -webkit-transition:border-bottom 1.8s;
	  -webkit-transition:box-shadow 1.5s;
	  -webkit-transition:font-size 1s;
	  -webkit-transform: scale3d(1.2, 1.2, 1);
	  transform: scale3d(1.2, 1.2, 1);*/
}

#nav-group img {
	width: 20px;
	height: auto;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

#nav-group ul li:hover img {
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}
/*-------導覽列  結束-----------------------------------------------------------------------------------------*/
/*margin: 0;（上下左右）
  margin: 0 0;（上下）（左右）
  margin: 0 0 0;（上）（左右）（下）
  margin: 0 0 0 0;（上）（右）（下）（左）*/
#footer {
	margin-top: 30px;
	background-color: #63D7D4;
	width: 100%;
	height: 15%;
	font-family:"微軟正黑體";
	padding-top: 20px;
}
/* #footer{ */
/* 	position:fixed; */
/* 	bottom:0; */
/* 	left:0; */
/* } */
#footer p  {
	color:white;
	text-align: center;
}

.footerP{
	font-size: 20px;
    margin-bottom: 8px;
	
}

#footer strong {
    color: #CCFF33;
    FONT-WEIGHT: 800;
}


.footer_left_img {
	width: 150px;
	height: auto;
}

/*----- RWD  max-width:640px--------------------------------------------*/
@media ( max-width :800px) {
	.header_left_img {
		/* max-width: 250px; */
		/* width: 19%; */
		/* height: auto; */
		width: 110px;
		position: absolute;
		left: 22px;
		top: -10px;
		margin: 0 auto;
	}
	
		.header_right_img {
		width: 75px;
		hegiht: auto;
		position: absolute;
		right: 15px;
		top: 65px;
		margin-top: -5px;
		border-radius: 10px;
		background-color: white;
		/* border: 5px solid #fff; */
		box-shadow: 4px 4px 2px 0px #eee;
	}
	.memberContentIndex {
		display:none;
	}
	.memberContentIndexPage{
	display:none;
}
	.hero {
		min-height: 150px;
		width: 100%;
		height: 22%;
		/*background: pink; */
		box-shadow: 4px 4px 12px -2px rgba(204, 204, 204, 0.97);
		display: table;
		position: relative;
	}
	/*-------導覽列  開始-----------------------------------------------------------------------------------------*/
/* 	.navimg { */
/* 		width: 100px; */
/* 		height: auto; */
/* 	} */
/* 	.na .navbar-nav li a img { */
/* 		width: 100px; */
/* 		height: auto; */
/* 	} */
	#navContainer ul {
		height: 0px;
		overflow: hidden;
		transition: height 2s;
	}
	#navContainer.open ul {
		height: 400px; /*---打開長高的長度----*/
		overflow: hidden;
		transition: height 2s;
	}
	#nav-icon3 {
		display: block;
		position: absolute;
		top: 0px;
		right: 10px;
	}
	.list-group-k ul {
		float: right;
		list-style: none;
	}
	.list-group-k ul li {
		float: none;
		margin: 15px 10px;
	}
	#nav-group {
		display: table;
		font-family: Microsoft JhengHei;
		font-weight: 600;
		padding: 45px 10px 30px 10px;
		text-align: center;
		margin: auto;
	}
	/*製作連結樣式*/
	#nav-group ul li a {
		margin: 5px 5px;
		padding: 10px 5px;
		color: #63D7D4;
		/*  border: 1px solid #fff; */
		font-size: 18px;
		text-decoration: none;
	}
	/*#ECC8AE 灰粉 #D6FF79亮綠 #84C0C6灰藍  #46B1C9深藍 #DCDCDC灰  logo--#CCFF33  hero--#63D7D4 */
	#nav-group ul li a:hover {
		color: #DCDCDC;
/* 		border-bottom: 4.5px solid #63D7D4; */
		text-decoration: none;
	}
	#nav-group img {
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	#nav-group ul li:hover img {
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}
/*手機版按鈕*/
/*-------導覽列  結束-----------------------------------------------------------------------------------------*/
/*----- RWD  max-width:640px--------------------------------------------*/